body {
    background-color: rgb(54, 54, 54);
}

/* ********************* */
nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-weight: 500;
    transition: 1.3s;
}
.menu{
    display: none;
}
.haut a {
    color: white;
    transition: 1.3s;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

button {
    color: white;
}

.haut {
    justify-content: space-between;
    align-items: baseline;
    width: 90%;
}

.millieu {
    justify-content: space-between;
    width: 40%;
}

.bas {
    width: 46%;
    margin-left: 4%;
    justify-content: space-between;
    color: #F95B5B;
    opacity: 0;
    transition: 1.3s;

}

.millieu img {
    padding-left: 7%;
    padding-right: 7%;
    transition: 1.7s;
    cursor: pointer;
}

.bas img {
    width: 25%;
    padding-right: 10%;
}

.logo {
    margin: 0;
}

.logo img {
    width: 13vw;
}

.red {
    padding-left: 1%;
    transition: 0.8s;
}

.red img {
    width: 2vw;
}

/* FONCTION JAVASCRIPT */
nav.actif {
    background-color: #DDD7D7;
}

.bas.actif {
    visibility: visible;
    opacity: 1;
}

.millieu img.actif {
    transform: rotate(-180deg);
    content: url(/images/fleche-red.png);
}

.red a.actif {
    color: #F95B5B;

}

@media screen and (max-width:768px) {

    nav {
        align-items: initial;
        padding-bottom: 8%;

    }

    .menu {
        left: 80%;
        position: absolute;
        display: block;
    }

    .menu img {
        margin-top: 48%;
        width: 15vw;
        transition: 0.8s;
    }

    .haut {
        height: 50vh;
        margin: auto;

    }
    .haut a {
        color: #F95B5B;
        transition: 1.3s;
    }

    .logo img {
        margin-top: 20%;
        width: 30vw;
    }

    ul {
        height: 80%;

    }

    .red {
        margin-bottom: 35%;
        flex-direction: row;
    }
    .red a{
        color:#F95B5B !important;
    }
    .red img {
        width: 6vw;
    }

    .millieu {
        width: 80%;
        justify-content: space-evenly;
        align-items: baseline;
        display: none;
    }
.millieu a{
    color: white;
}
    .bas {
        position: absolute;
        top: 48%;
        left: 6%;
        height: 12vh;
        align-items: baseline;
        visibility: visible;
    }

    .bas li {
        flex-direction: row;
    }
    .bas img {
        width: 20%;
        padding-right: 10%;
    }




    .button {
        display: none;
    }

/* Javascript */
nav.active{
    background-color: #DDD7D7;
}
.menu img.active {
    content: url(/images/croix.png);
}
.millieu.active {
    display: contents;
}

}