@-webkit-keyframes moveit {
  from {top: -50px;}
  to {top: 25px;}
}
@-moz-keyframes moveit {
  from {top: -50px;}
  to {top: 25px;}
}
@-o-keyframes moveit {
  from {top: -50px;}
  to {top: 25px;}
}
@keyframes moveit {
  from {top: -50px;}
  to {top: 25px;}
}

/* Configuration comprenant tous les préfixes de fournisseur */
.shiftnav  {
  -webkit-animation: moveit 1s; /* Safari 4+ */
  -moz-animation:    moveit 1s; /* Fx 5+ */
  -o-animation:      moveit 1s; /* Opera 12+ */
  animation:         moveit 1s; /* IE 10+, Fx 29+ */

  animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-direction: alternate; /* or: normal */
}

.disabled {
  display: none;
}
