/*
-------------------------------------------------
CONTACT PAGE
-------------------------------------------------
*/

.contact-section {h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}
    padding: 12rem 0 2rem;
}

.wwd-links {
    font-size: 0.8rem;
}

.contact-section-content-header h1 {
    cursor: pointer;
}

@media (max-width: 768px) {
    .contact-section {
        padding: 8rem 0 6rem;
    }
}

.contact-section-content-header {
    width: 43vw;
    margin-bottom: 6rem;
}

@media (max-width: 768px) {
    .contact-section-content-header {
        width: 100%;
    }
}

.contact-section baseline {
    margin-bottom: 12px;
    display: block;
}

.contact-section-content {
    margin-top: 72px;
    display: block;
}

@media (max-width: 768px) {
    .contact-section-content-content {
        width: 100vh;
    }
}

.contact-img {
    background-image: url(../assets/img/15.jpg);
    opacity: 75%;
    width: 30vw;
    height: 20vw;
    top: 12rem;
    right: 0;
}

@media (max-width: 768px) {
    .contact-img {
        position: relative !important;
        top: unset;
        width: 100%;
        height: 60vw;
    }
}

.contact-links {
    width: 100vw
}

@media (max-width: 768px) {
    .contact-links {
        margin-top: 6rem;
    }

    .contact-links div {
        margin-bottom: 3rem;
    }
}
