.a-wrapper {
  position: absolute;
  top: 200px;
  left: 50px;
}

.a-button {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 0 0 6px 0;
  color: var(--color-primary);
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: solid 3px var(--color-primary);
  cursor: pointer;
}

.a-button-black {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 0 0 6px 0;
  color: var(--color-black);
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: solid 3px var(--color-black);
  cursor: pointer;
}

.a-button-black :hover {
  color: var(--color-black);
}

@media (max-width:992px) {
  .a-button {
      background-color: var(--color-primary);
      color: var(--color-white);
      outline: none;
      padding: 14px 16px;
      border-radius: 50px;
      cursor: pointer;
  }
  .a-button-black {
      background-color: var(--color-black);
      color: var(--color-white);
      outline: none;
      padding: 14px 16px;
      border-radius: 50px;
      cursor: pointer;
  }
  .a-button :hover {
      color: var(--color-white);
  }
  .a-button :focus {
      color: var(--color-white);
  }
  .a-button-black :hover {
      color: var(--color-white);
  }
  .a-button-black :focus {
      color: var(--color-white);
  }
}
