en/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
EASY DISTRIBUTION STYLE
---------------------------------------------------------------------------
------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

:root{
  --color-primary: #F95B5B;
}

.fix-lh-txt {
  line-height: 1.2rem;
}

@media (max-width: 992px) {
  .fix-lh-txt {
    line-height: 1.8rem;
  }
}

@media (max-width: 960px) {
  #Navbar {
    min-height: 50px;
    background-color: #FFF;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
}

/* ------------------------------------ */

.animation {
  transition: opacity 1s ease-in;
}

.disabled {
  display: none;
}

.active {
  animation-duration: 1s;
  animation-name: open;
}

@keyframes open {
  from {
    opacity: 0%;
    transform: translateY(-100px);
  }

  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}

.burger {
  border: none;
}

/*
-------------------------------------------------
INDEX PAGE
-------------------------------------------------

/* ------
*--
*** HOME
*--
----- */
.entrance-img {
  background-image: url(../assets/img/1.jpg);
  height: 46vw;
}

@media (max-width:768px) {
  .entrance-img {
    height: 44vh;
  }
}

@media (min-width:768px) {
  .entrance-txt {
    height: 46vw
  }
}

.entrance-txt-content {
  margin-top: 10rem;
}

.entrance-txt .entrance-txt-content {
  margin-left: 8%;
}

@media (max-width:768px) {
  .entrance-txt .entrance-txt-content {
    height: auto;
    margin: 83px 48px
  }
}

.entrance-txt h1 {
  margin-bottom: 24px;
}

.entrance-txt p {
  width: 63%;
  margin-bottom: 91px;
}

@media (max-width:768px) {
  .entrance-txt p {
    width: 100%;
    margin-bottom: 32px
  }
}

/* Codebar object */
.codebar {
  background-image: url(../assets/img/codebar.png);
  height: 3em;
  width: 25em;
}

.codebar-wwd {
  margin-left: -8rem;
}

.codebar-entrance {
  display: none;
  /* WIP */
  margin-right: -8rem;
}

@media (max-width: 992px) {
  .codebar {
    height: 10vw;
    align-self: flex-end;
  }
}

/* Citation */
.img-quote {
  width: auto;
  height: 20rem;
}

/* ------
*--
*** ABOUT SECTION
*--
----- */
.about-link h2 {
  margin-bottom: 91px;
}

@media (max-width:768px) {
  .about-link h2 {
    margin-bottom: 28px;
  }
}

.about-link button {
  border-bottom: solid 2px #000000;
}

.about-link>div>div {
  margin: 48px auto;
  width: 55%;
}

@media (max-width:768px) {
  .about-link>div>div {
    width: auto;
    margin: 83px 48px;
  }
}

.img-dancing {
  background-image: url(../assets/img/2.jpg);
  height: 22vw;
}

@media (max-width:768px) {
  .img-dancing {
    height: 60vw;
    width: 66vw;
    align-self: flex-end;
  }
}

/* ------
*--
*** PARTNERS SECTION
*--
----- */
.section-partners {
  padding: 10rem 0rem;
}

.img-deck {
  justify-content: space-evenly !important;
}

.img-deck-home a img {
  width: 8rem;
  height: auto;
  margin: 4rem 0 0;
}

.img-deck-home a:nth-child(2) img {
  width: 6rem;
  height: auto;
}

.img-deck-about a img {
  width: 10rem;
  height: auto;
}

@media (max-width: 769px) {
  .section-partners {
    padding: 10rem 0 6rem;
  }

  .img-deck a img {
    width: 10rem;
    height: auto;
    margin: 4rem 0 0;
  }
}

/* ------
*--
*** IMG DIVIDER SECTION
*--
----- */
.section-img-divider {
  width: 100%;
  height: 36vw;
}

@media (max-width:768px) {
  .section-img-divider {
    height: auto;
  }
}

.img-4 {
  background-image: url(../assets/img/4.jpg);
  height: inherit;
}

@media (max-width:768px) {
  .img-4 {
    height: 70vw;
  }
}

.img-5 {
  background-image: url(../assets/img/5.jpg);
  height: inherit;
}

@media (max-width:768px) {
  .img-5 {
    height: 70vw;
  }
}

/* ------
*--
*** JOIN US SECTION
*--
----- */
.join-us-section {
  padding: 6rem 0;
}

.join-us-section baseline {
  width: 56vw;
  margin: 0 auto 32px;
  display: block;
}

@media (max-width:768px) {
  .join-us-section baseline {
    text-align: center;
    margin: 0 auto 16px;
  }
}

.join-us-section button {
  width: auto;
  margin: 4rem auto 0;
  display: block;
}

.img-6 {
  background-image: url(../assets/img/6.jpg);
  height: 25vw;
  width: 56vw;
  margin: 0 auto;
}

@media (max-width:768px) {
  .img-6 {
    height: 90vw;
    width: 77vw;
  }
}

.join-us-section .border {
  width: 100%;
  height: 2px;
  margin-top: 2vw;
}

.join-us-content {
  transform: translateY(10vw);
}

@media (min-width: 769px) {
  .join-us-content div {
    white-space: nowrap;
  }
}

.join-us-content div:nth-child(1) {
  margin: 0 0 0 -6rem;
  padding: 0 24px 0 0;
}

@media (max-width: 768px) {
  .join-us-content div:nth-child(1) {
    margin: 0;
    width: 100%
  }
}

@media (min-width: 769px) {
  .join-us-content div:nth-child(3) {
    margin: 0 -8rem 0 0;
    padding: 0 0 0 24px;
  }
}

@media (max-width: 768px) {
  .join-us-content div:nth-child(3) {
    margin: 51vw -2rem 0 0;
  }
}

/* Content whatwedo */
.img-wwd-main {
  height: 25rem;
  width: auto;
  float: right;
  margin: none;
}

.img-wwd-r {
  height: 20rem;
  width: auto;
  float: right;
  margin: none;
}

.img-wwd-l {
  height: 20rem;
  width: auto;
  margin: none;
}

.avion {
  width: 3rem;
  height: auto;
  margin-left: 1rem;
}

.vertical-middle {
  padding-left: 5rem;
}

/*
-------------------------------------------------
ABOUT PAGE
-------------------------------------------------
*/
.about {
  height: 29rem;
}

.img10 {
  height: 13rem;
  width: auto;
}

.gather {
  width: 100%;
  height: 42rem;
  background-color: #D4DBE0;
}

.img11 {
  height: auto;
  width: 20rem;
}

.gather h3 {
  width: 60%;
  padding-left: 9rem;
  margin-top: 4rem;
  font-size: 50px;
  line-height: 2.5rem;
}

.gather .left P {
  padding-left: 9rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 48%;
}

.gather a {
  border-bottom: solid 2px var(--color-primary);
  margin-left: 9rem;
}

.gather .right p:first-child {
  margin-top: 30%;
  padding-left: 9rem;
}

.img12 {
  height: auto;
  width: 15rem;
}

.gather .right p {
  padding-left: 14rem;
  width: 40%;
  margin-top: -1rem;
}

.about3 {
  width: 100%;
  height: 21rem;
  display: flex;
  flex-wrap: nowrap;
}

.about3 div:first-child,
.about3 div:nth-child(2) {
  width: 50%;
  height: 100%;
  margin: 0 0 0 0;
}

.div1 {
  display: flex;
  background: no-repeat center/100% url("../assets/img/13.jpeg");
}

.div1 h2 {
  margin: auto;
  text-align: center;
}

.div2 {
  display: flex;
  background: no-repeat center/100% url("../assets/img/14.jpeg");
}

.div2 h2 {
  margin: auto;
  text-align: center;
}

.bar_mip {
  width: 34%;
  height: 0.1rem;
  position: absolute;
  background-color: var(--color-primary);
  z-index: 3;
  left: 32.2%;
  margin-top: 14%;
}

.crowd {
  text-align: center;
  width: 100%;
  height: 15rem;
}

.crowd h5 {
  padding-left: 0px;
}

.crowd h2 {
  font-size: 55px;
  margin-bottom: 2rem;
}

.crowd a {
  border-bottom: solid 2px var(--color-primary);
}

/* Contact */
.contact-img {
  background-image: url(../assets/img/19.jpg);
  height: 48vw;
}

@media (max-width:768px) {
  .contact-img {
    height: 46vh;
  }
}

/* Footer */
footer div {
  opacity: .95;
}

footer .logo {
  width: 3vw;
  opacity: .5;
  margin-left: -5em;
}

footer .wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
}

footer h4 {
  margin-bottom: 32px;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  line-height: 2rem;
  list-style: none;
}

footer .terms {
  margin-top: 6em;
}

@media screen and (max-width:768px) {
  footer .logo {
    margin-bottom: 20%;
    align-self: flex-start;
  }

  footer .logo img {
    width: 8vw;
  }

  footer h4 {
    margin-bottom: 12px;
  }

  .footer-links {
    padding-bottom: 1rem;
    width: 80%;
    margin: 0 auto;
  }
}

/* Preloader */
#background {
  width: 100%;
  height: 100%;
}

#avion {
  top: 85.6%;
  left: 4%;
  width: auto;
  height: 80px;
}

.preloader {
  background-image: white;
  background-size: cover;
  background-size: cover;
  position: fixed !important;
  height: 100%;
  width: 100%;
  text-decoration-color: red;
}

.preloader a {
  font-size: 0.6rem;
  color: white;
  position: fixed;
  top: 3%;
  left: 2%;
}

.preloader p {
  color: var(--color-primary);
  position: inherit;
  top: 20%;
  left: 5%;
  font-size: 0.8rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.preloader h1 {
  position: inherit;
  top: 25%;
  left: 5%;
  color: var(--color-primary) !important;
  opacity: 100%;
  font-size: 380%;
  letter-spacing: 2px;
  line-height: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.preloader p,
.preloader h1 {
  animation-duration: 3s;
  animation-name: slidein;
}

#bouton_loader {
  top: 82%;
  left: 80%;
  color: var(--color-primary);
  opacity: 15%;
  text-decoration-line: none;
  border: none;
  font-weight: bold;
  cursor: default;
  pointer-events: none;
}

.bar_loader {
  top: 90%;
  width: 80%;
  height: 0.5%;
  left: 5%;
  background-color: var(--color-primary) !important;
  opacity: 15%;
}

#bar_loader_2 {
  opacity: 100%;
  animation-name: loader;
  animation-duration: 3s;
  animation-delay: 4s;
}

@keyframes slidein {
  from {
    margin-top: -50%;
    opacity: 10%;
  }

  to {
    margin-top: 0%;
    opacity: 100%;
  }
}

@keyframes loader {
  from {
    width: 0%;
  }

  to {
    width: 80%;
  }
}
