/* Header */
.blog--header {}

.blog--title {
  text-transform: uppercase;
}

.blog--intro {}

/* Body */
.blog--body {}

.blog--body h4 {
  cursor: pointer;
  color: var(--color-black);
}

.blog--1 {}

.blog--hook {
  display: inline-flex;
}

.blog--hook span {
  cursor: pointer;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--color-primary);
}

.blog--text p,
.blog--text ul {
  font-size: .7rem;
  color: var(--color-black);
  line-height: 1.1rem;
}

/* Footer */
.blog--footer .blog--following h5,
.blog--next {
  padding-left: 100px;
}

.blog--following {
  background-color: var(--grey-bg);
}

.blog--next {
  color: var(--color-black);
}

.blog--next .a-button {}

.blog--next-title {
  color: var(--color-black);
}

.blog--next-intro {
  font-size: 0.7rem;
}

.blog--divider {
  min-height: 20px;
}

.blog--fadeIn {
  opacity: 1;
  display: block;
}

.blog--fadeOut {
  opacity: 0;
  display: none;
}

.blog--menu {
  display: block;
  position: fixed;
  bottom: 150px;
  right: 120px;
  z-index: 99;
  font-size: 1.2rem;
  border: none;
  outline: none;
  /* cursor: pointer; */
  background-color: var(--color-white);
  color: var(--color-black);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, .05);
  border-radius: 10PX;
  padding: 10px 10px 10px 30px;
  width: 150px;
}

.blog--menu ul {
  padding: 0;
  list-style: none;
  font-size: 0.6rem;
}

.blog--menu h6 {
  margin: 1rem 0;
}

.blog--menu ul {
  padding: 0;
  list-style: none;
  font-size: 0.6rem;
}

.blog--menu li {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0.6rem;
}

.blog--menu a {
  color: var(--color-black);
  line-height: 1rem;
  margin-left: 15px;
}

.blog--menu .reading a,
.blog--menu .reading .fas {
  color: var(--color-primary) !important;
}

@media screen and (max-width: 960px) {
  .blog--hook span {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .blog--title {
    font-size: 2rem;
    line-height: 2.1rem;
  }

  .blog--text p,
  .blog--text ul,
  .blog--next-intro {
    line-height: 1.2rem;
  }

  .blog--footer .blog--following h5,
  .blog--next {
    padding-left: 2.5rem;
  }

  .blog--next .a-button {
    margin-top: 2.5rem !important;
  }

  .blog--divider {
    min-height: 30px;
  }

  .blog--menu {
    display: none !important;
  }
}