/* Add a black background color to the top navigation */
body {
  min-height: 120vh;
}

.topnav {
  width: 100%;
  position: fixed;
  z-index: 1;
  /* background-color: #FFF !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; */
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav .item {
  float: right;
  display: block;
  color: var(--black-bg);
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 1rem;
}

.topnav .logo img {
  margin-left: 60px;
  margin-top: 20px;
}

.topnav .contact {
  margin-left: 60px;
}

.topnav .tab-wwd {
  color: var(--color-primary);
}

/* Change the color of links on hover */
.topnav a:not(:first-child):hover {
  /* background-color: var(--light-primary); */
  /* border-top: 3px solid var(--color-primary); */
  -webkit-box-shadow: inset 0 3px 0 var(--color-primary);
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  z-index: 1;
  display: none;
  position: absolute;
  right: 30px;
  top: 20px;
  transition: 1s ease-out;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 960px) {
  .topnav .logo img {
    margin: 20px 0px 25px 30px;
  }

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    display: block;
    font-size: 1.4rem;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 960px) {
  .topnav {
    position: absolute;
    transition: .8s;
  }

  .topnav.responsive a.icon {
    position: absolute;
    box-shadow:
  }

  .topnav.responsive a {
    float: none;
    display: flex;
    text-align: left;
  }

  .topnav a:not(:first-child):hover {
    -webkit-box-shadow: none;
  }

  .topnav .contact {
    margin-left: 0px;
  }

  .topnav .item {
    padding: 14px 35px;
    font-size: 14px;
  }
}